/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}


.ppanel{
  padding:0.5em;
  text-align:justify;
}

.borde-element{
  border:solid 1px #eee;
}
